* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 1rem;
}

body {
	background-image: linear-gradient(to bottom, #000 5%, #222 25%, #222 85%, #000 100%);
	background-repeat: no-repeat;
	min-height: 100vh;
}

._centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	margin: auto;
	width: 80%;
}

.header--centered {
	flex-direction: column;
}

.title {
	margin: auto;
	width: 8rem;
	height: auto;
	text-align: center;
}

.title--inline {
	display: inline-block;
	margin-right: 2rem;
}

.title > h1 {
	color: #6a6;
	font-size: 1.5rem;
	font-weight: normal;
}

.title > h1::first-line {
	line-height: 3.2rem;
	color: #fff;
	font-size: 4rem;
}

.search-field {
	margin: auto;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgba(256, 256, 256, 0.3);
	padding: 20px 10px;
	border-radius: 5px;
}

.search-field--inline {
	display: inline-block;
	width: 60%;
}

.input-search {
	width: 70%;
	border-radius: 5px;
	color: #666;
	border: 1px solid #ccc;
	height: 40px;
	padding: 0 10px;
}


.main {
	border-radius: 10px;
	margin: 100px auto 0;
	width: 55%;
	padding: 80px 50px;
	background-color: rgba(105, 105, 105, 0.4);
}

.main-header {
	display: flex;
	align-items: flex-start;
}

.main-header > img {
	width: 25%;
	display: inline-block;
}

.title-box {
	padding: 0 50px;
	width: 80%;
	display: inline-block;
}

.tbox__title {
	font-size: 3.5rem;
	color: #fff;
}

.tbox__year {
	font-size: 2rem;
	color: #6a6;
}

.main-content {
	padding: 30px;
	color: #fff;
	width: 100%;
	margin-top: 40px;
	line-height: 1.6;
	border-radius: 0 0 10px 10px;
}

.main-content > p {
	margin: 25px 0;
}




.btn-search {
	background-color: #6a6;
	color: #fff;
	height: 40px;
	width: 25%;
	border: 0;
	border-radius: 3px;
	transition: background-color 0.1s ease-in;
}

.btn-search:active {
	background-color: #464;
}

.btn-search:focus, .input-search:focus {
	outline: none;
}

